h1 {
  text-align: center;
}
.mainDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
}
.questionSection {
  width: 70%;
  height: 100%;
  background-color: rgb(197, 207, 200);
  display: flex;
  flex-direction: column;
  align-content: center;
}
.toggleSection {
  width: 30%;
  height: 100%;
  background-color: rgb(197, 207, 200);

  padding-top: 3%;
}
.optionContainer {
}
.resultbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 30%;
  /* position: absolute; */
}
.result {
  font-size: larger;
}
/* .iconsSize {
  width: 100px;
  height: 100px;
}
.iconsSize:hover {
  border: 2px solid;
  border-color: gray;
} */
