h1 {
  text-align: center;
}
.mainDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: rgb(197, 207, 200);
  position: absolute;
  contain: size;
  /* margin: 1%; */
}
.questionSection {
  width: 80%;
  height: 100%;
  background-color: rgb(197, 207, 200);
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 5%;
  margin-bottom: 5%;
  /* padding-top: 3%; */
}
.toggleSection {
  width: 20%;
  height: 100%;
  background-color: rgb(197, 207, 200);

  padding-top: 3%;
}
.optionContainer {
  padding-top: 2%;
}
.options {
  padding-bottom: 2%;
}
.questionContainer {
  padding-top: 2%;
  width: 100%;
  height: 10%;
  font-size: larger;
  font-weight: bolder;
}
.resultbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 30%;
  /* position: absolute; */
}
.result {
  font-size: larger;
}
